# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.SmartCity.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Hackaton\SmartCity\SmartCity\.idea\.idea.SmartCity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
